html{
	height : 100%;
}
body{
	background-image: url(../../img/index.jpg);
  	background-repeat:no-repeat;
  	background-size:100% 100%;  
  	height:100%;
}
.login{
	position: absolute;
	left: 10%;
	width: 80%;
	height: 100%;
	background-color: rgba(255, 251, 240,0.1);
}
.selectLogin{
	position: absolute;
	left: 10%;
	top:25%;
	width: 80%;
	height: 50%;
}
.selectLogin button {
	width: 100%;
	height: 20%;
	margin-bottom: 10%;
	margin-top: 10%;
}