/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,ul
 strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
 	 以上reset_css
*/
html{
	min-width: 1000px
}
body{
	background-color:#999999;
}
header>nav img{
	width:20px;
	height:15px;
	padding-right: 5px;
}
header a{
	text-decoration:none;
	font-weight:bold;
	color:white;
} 
ul li{
	display: inline-block;
}
header>nav{	
	width:100%;
	background-color:green;
	padding:10px 0;
	font-size:small;
	position:relative;
	height:20px;
}
header>nav>ul{
	position:absolute;
	right:10%;
}
header>nav>ul>li{
	padding:0 5px;
}
.sec_head{
	width:100%;
	height:50px;
	background:black;
	position:relative;
}
img[src="img/logo_index.png"]{
	position:relative;
	left:13%;
	top:3px;
}
.sec_head>ul{
	position:absolute;
	right:13%;
	top:20px;
}
.sec_head>ul>li{
	padding:0 7px;
}
/*
	以上header部分
*/
.main{
	position:relative;
	left:10%;
	width:80%;
	margin:10px;
}
main{
	position: relative;
	left: 10%;
	float:left;
	margin:10px 5px 10px 0;
	width:80%;
	height:1000px;
}
.main_firs{
	position:relative;
	width:100%;
	height:1000px;
}
.main_firs h3{
	cursor:pointer;
	height:40px;
	text-align:center;
	padding-top:20px;
}
#main_tab1 h3{
	position:absolute;
	left:0;
	width:25%;
}
#main_tab2 h3{	
	position:absolute;
	top:0;
	left:25%;
	width:25%;
}
#main_tab3 h3{	
	position:absolute;
	top:0;
	left:50%;
	width:25%;
}
#main_tab4 h3{	
	position:absolute;
	top:0;
	left:75%;
	width:25%;
}
.main_button p{
	position:absolute;
	left:45%;
	top:25%;
	color:red;
}
.secssion{
	background-color: white;
	position:absolute;
	top:60px;
	height: 940px;
	width: 100%;
	box-shadow: 5px 5px 2px #292929;
}
/************************************/
.positionManage{
	padding-top: 50px;
}
.searchCondition{
	background-color: rgba( 135,206,235,0.5);
}
.searchCondition>form{
	float:left;
	width:20%;
	display: inline;
}
.posManageTab{
	clear:both;
}
th,td{
	width:10%;
}
td{
	position: relative;
	left:7%;
}
tr{
	height: 30px;
}
/******************************************/
/*
	以上为主题部分
*/
footer{
	clear:both;
	position:relative;
	width:100%;
	height:60px;
	padding-top:30px;
	border-top:1px solid #D3D3D3;
}
.footer_tel{
	position:absolute;
	left:10%;
}
.footer_oth{
	position:absolute;
	right:10%;
	text-align: right;
	line-height:1.4;
}